@use "./partials/variables" as v;

body {
    margin: 0;
}

.desktop {
    display: grid;
    grid-template-columns: repeat(15, minmax(0, 1fr));
    grid-template-rows: repeat(10, minmax(0,1fr));
    height: 95vh;
    width: 100%;
    background-image: url(../assets/wallpaper.jpg);
    background-size: cover;

    &_icon {
        display: flex;
        justify-content: center;
        align-items: center;

        &_img {
            height: 50%;
            width: auto;

            &--lg {
                height: 60%;
            }
        }

        &:hover {
            background-color: rgb(v.$white-color, 0.1);
            border: 1px solid rgb(v.$white-color, 0.3);
        }
    }
}

.menubar {
    display: flex;
    height: 5vh;
    width: 100%;
    background-color: v.$menubar-color;
    // position: fixed;

    &_icon {
        display: flex;
        align-items: center;
        height: inherit;
        width: 5vh;
        // position: relative;

        &_img {
            // display: inline-block;
            flex: 1;
            height: 45%;
            width: 45%;

            // &::before {
            //     content: attr(title);
            //     position: absolute;
            //     top: -1.5;
            //     text-align: center;
            // }

            &--white {
                filter: invert(100%);
            }

            &--flip {
                transform: rotateY(180deg);
            }

            &--lg {
                height: 50%;
                width: 50%;
            }

            &--sm {
                height: 40%;
                width: 40%;
            }
        }

        &:hover {
            background-color: v.$menubar-hover-color;
        }
    }
}